# 默认忽略的文件
/shelf/
/workspace.xml

application/**/*
!application/calibration_mag/*.py
!application/calibration_mag/*.c
!application/calibration_mag/*.h
!application/**/*.py
!application/**/*.c
!application/**/*.h